.main-container{
display: flex;
flex-direction:column;
justify-content: flex-start;
font-family: 'Anton', sans-serif;
min-width: 92%;
min-height: 100%;
margin:10px;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  max-height:10%;
  background-color: white;
}

.logo{
  height:50px;
  margin: 0px 1470px 10px 0px;
}

.home{
font-size: 90px;
text-align: center;
display:flex;
justify-content: space-between;
font-family: 'Anton', sans-serif;
background-color: #ACDBC9;
color: white;
min-width: 100%;
min-height: 1000px;

}
.btn{
background: none;
color: inherit;
border: none;
/* padding: 0; */
font: inherit;
cursor: pointer;
outline: inherit;
color: #4f495e;
font-size: 46px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 25px;
/* background-color: #fdfd96; */
}
/* .hungry {padding-left: 400px;}
.thirsty {padding-left: 300px;}
.bored {padding-left: 200px;} */
/* .dont-know{padding-left: 00px;} */
.woman-picture{
float: left;
max-height: 1000px;
}

.home-text{
margin:auto;
}

.chevron{
  max-width: 150px;
}

.search-view{
display:block;    min-width: 100%;
min-height: 800px;
color: white;
font-family: 'Anton', sans-serif;
}

.search-bar{
display: inline-flex;
display: flex;
justify-content: space-between;
align-content: center;
height: 250px;
width: 100%;
color: white;
background-color: #fdfd96;
font-size: 50px;
}
/*
.view-usermap-btn{
width: 20%;
color: #4f495e;
font-size: 50px;
margin: auto auto auto 125px;
} */

.or-text{
  color: #4f495e;
  font-size: 150px;
  margin: auto 125px auto 125px;
}

.search-form{
width: 100%;
height:100%;
color: #4f495e;
margin:50px;
font-size: 100px;
}

.article-preview-list{
display:flex;
flex-direction:row;
justify-content: flex-start;
flex-shrink: 1;
flex-wrap: wrap;
font-size: 20px;
background: #F7A7A6;
color: #4f495e;
}

.article-preview{
font-weight: bold;
text-align: center;
display:flex;
flex-direction:column;
align-content: center;
justify-content: center;
align-items: center;
width:305px;
margin:35px;
border-radius: 25px;
padding: 10px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

.article-preview:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-not-yet-added{
background: rgba(255, 255, 255, 0.7);
}

.article-already-added{
background: rgba(0, 0, 0, 0.4);
}

.article-preview-img{
width:90%;
}

.place-preview-list{
display:flex;
flex-direction:row;
justify-content: flex-start;
flex-shrink: 1;
flex-wrap: wrap;
background-image: url("pineapples.jpg");
color: #4f495e;

}

.place-preview{
font-weight: bold;
text-align: center;
display:flex;
flex-direction:column;
align-content: center;
justify-content: center;
width:20%;
height:300px;
background: rgba(255, 255, 255, 0.5);
margin:35px;
font-size: 20px;
padding: 10px;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}

.place-preview:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.article-container{
background-color: #FDD2B5;
width:100%;
height:100%;
}

.article-main{
display: flex;
flex-direction: column;
align-items: center;
max-width:100%
}

.grubstreet{
max-width: 800px;
}

.main-article-img{
width: 100%;
min-height: 1000px
}

.article-map-details{
display: flex;
justify-content: space-around;
background-color:
}

.article-btns{
display: flex;
justify-content: space-between;
align-content: center;
width: 60%;
margin: 100px 0px 0px 0px;
}

.view-usermap-btn{
margin: auto auto auto 125px;
background-color: #fdfd96;
padding: 10px;
/* border: 100px; */
 }



.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-map-add-places{
margin: 400px 0px 0px 0px;
}

.article-name{
font-size: 100px
}

.map{
max-width:100%;
max-height: 100%;
margin: 100px;
}

.map-in-article{
max-width: 50%;
max-height: 50%;
}


.article-map{
display: flex;
width: 50%;
margin:5px 10px 10px 10px
}

.article-details{
display: flex;
width:40%;
margin:10px
}

.article-details-mini{
display: flex;
flex-wrap: wrap;
}

.place-descriptions{
max-width: 40%;
margin: 175px 0px 0px 0px
}

.place-details{
margin: 0px 0px 50px 0px;
}

.view-article-btn{
margin: 5px;
width:50%;
display:flex;
justify-content: space-around;
align-content: center;
padding: 0px;
}

.add-remove-map-to-user-btn{
  width:50%;
  padding: 0px;
}

.empty-user-map-container{
display: flex;
justify-content: space-around;
align-items:center;
background-color: #ACDBC9;
min-width: 100%;
min-height: 1000px;
margin: 0px;

}

.usermap-img{
height:800px;
}

.usermap-btn{
margin:20px
}

.user-map-container{
display:flex;
justify-content: space-between;
background-color: #ACDBC9;
font-size:50px;
min-width: 100%;
min-height: 1000px;
color: #4f495e;
}

.user-map{
  max-width: 100%;
  max-height: 100%;
}

.map-in-user{
  max-height: 40%;
  max-width: 40%;
}

.right-panel-user-map{
  font-size:150px;
}



/* #ACDBC9
#DBEBC2
#FDD2B5
#F7A7A6
#F48B94 */
