
.body{
    /* font-family: 'Playfair Display', serif; */
}

.main-container{
  display: flex;
  flex-direction:column;
  justify-content: flex-start;

  /* border: black 5px solid; */
  min-width: 100%;
  min-height: 100%;
}

  .home{
    font-size: 90px;
    text-align: center;
    display:flex;
    justify-content: space-between;
    font-family: 'Anton', sans-serif;
    background-color: #ACDBC9;
    color: white;
    min-width: 100%;
    min-height: 1000px;

  }
  /* .hungry {padding-left: 400px;}
  .thirsty {padding-left: 300px;}
  .bored {padding-left: 200px;} */
  /* .dont-know{padding-left: 00px;} */
  .woman-picture{
    float: left;
    max-height: 1000px;
  }

  .home-text{
    margin:auto;
  }

  .search-view{
    /* border: black 5px solid; */
    display:block;    min-width: 100%;
    min-height: 800px;
    color: white;
    font-family: 'Anton', sans-serif;
  }

    .search-bar{
      display: inline-flex;
      /* border: black 5px solid; */
      display: flex;
      justify-content: center;
      height: 300px;
      min-width: 100%;
      /* background: #F48B94; */
      color: white;
      /* background-image: url("cherries-small.jpg");
      background-repeat: repeat; */
      background-color: #fdfd96;
      font-size: 100px;
    }
      .search-bar-text{
        display: block;
        width: 80%;
        color: #4f495e;
        text-align: center;
        margin:auto;
        font-size: 50px;
        /* align-items:center; */
        /* border: black 5px solid; */

      }

      .search-form{
          /* border: black 5px solid; */
        display: block;
        width: 100%;
        height:100%;
        color: #4f495e;
        /* background-color: rgba(255,255,255,.5) */
        margin:40px;
      }

      .view-usermap-btn{
        width: 20%;
        color: #4f495e;
        font-size: 50px;
        margin:40px;
      }

    .article-preview-list{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      /* border: black 5px solid; */
      flex-shrink: 1;
      flex-wrap: wrap;
      font-size: 20px;
      background: #F7A7A6;
      color: #4f495e;
    }

      .article-preview{
        font-weight: bold;
        text-align: center;
        display:flex;
        flex-direction:column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width:300px;
        /* height:300px; */

        margin:35px;
      }

      .article-not-yet-added{
        background: rgba(255, 255, 255, 0.7);
      }

      .article-already-added{
        background: rgba(0, 0, 0, 0.4);
      }

      .article-preview-img{
        /* align-items: center; */
        /* align-content: center; */
        /* justify-content: center; */
        width:90%;
        /* height:75%; */
      }

    .place-preview-list{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      /* border: black 5px solid; */
      flex-shrink: 1;
      flex-wrap: wrap;
      background-image: url("pineapples.jpg");
      color: #4f495e;
    }

      .place-preview{
        font-weight: bold;
        text-align: center;
        display:flex;
        flex-direction:column;
        align-content: center;
        justify-content: center;
        width:20%;
        height:300px;
        background: rgba(255, 255, 255, 0.5);
        margin:35px;
        font-size: 20px;
      }
  .article-container{
background-color: #FDD2B5;
width:100%;
height:100%;
  }

  .go-back-btn{
  background: black;
  }

  .article-main{
display: flex;
flex-direction: column;
align-items: center;

/* justify-content: center; */
  }

  .main-article-img{
  width: 95%;

  /* height: 100% */
  }

  .article-map-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


    .article-map{
      display: flex;
      width: 40%;
      /* float: left; */
    }

    .article-details{
      display: flex;
      width:40%;
      background: white;
        /* margin:10px */
      /* float: right; */
    }

.map{
  width:40%;
  /* margin:10px */
}
.view-article-btn{
  margin: 5px;
}

.add-remove-map-to-user-btn{
  margin: 5px;
  /* padding: 10px; */
}

.empty-user-map-container{
  align-items:center;

  font-family: 'Anton', sans-serif;
  background-color: #ACDBC9;
  font-size:50px;
  min-width: 100%;
  min-height: 100%;
}

.usermap-woman{
  height:500px;
}
.usermap-btn{
  margin:20px
}

.user-map-container{
  display:flex;
  /* align-items:center; */
  font-family: 'Anton', sans-serif;
  background-color: #ACDBC9;
  font-size:50px;
  min-width: 100%;
  min-height: 100%;
}

.btn{
  color: #4f495e;
  font-size: 50px;
}



/* #ACDBC9
#DBEBC2
#FDD2B5
#F7A7A6
#F48B94 */

/* .left-panel{
  display: flex;
  /* align-items: stretch; */
  /* justify-content: center; */
  /* width: 25%;
} */
/* .center-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
} */
/* .right-panel{
  display: flex;
  background-color: yellow;
  width: 25%
} */

/* .search{
background-color: green;
font-family: 'Playfair Display', serif;
font-size: 20px;
} */
/*
.article{
  font-family: 'Playfair Display', serif;
} */ */

.map{
  height: 15%;
  width: 10%;
  justify-content: center;
  align-items: center;
}

/* .save-button{
  position: absolute;
  top: 370px;
  left: 1150px;

  align-self: center;

} */
